<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopManagementSystem.Properties.Settings.TestConnectionString"
            connectionString="Data Source=8.129.32.23;Initial Catalog=Test;Persist Security Info=True;User ID=ShopOwner;Password=shoppassw0rd!"
            providerName="System.Data.SqlClient" />
        <add name="ShopManagementSystem.Properties.Settings.ShopConnectionString"
            connectionString="Data Source=8.129.32.23;Initial Catalog=Shop;Persist Security Info=True;User ID=ShopOwner;Password=shoppassw0rd!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>